<div class="col-md-3">
  <div class="card" style="width: 18rem;">
    <div class="card-header bg-success text-white">
      <i class="fa-solid fa-cart-shopping"></i>
      Carrito
    </div>
    <ul id="carrito" class="list-group list-group-flush">
      <table class="m-2">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Cantidad</th>
          </tr>
        </thead>
        <tbody id="table-body">
          {{! RENDER }}
        </tbody>
      </table>
    </ul>
    <div
      class="card-header card text-center justify-content-center align-items-center bg-success"
    >
      <button
        type="submit"
        class="btn btn-success d-block w-100 h-100"
        id="btnConfirmar"
      >Confirmar</button>
    </div>
  </div>
</div>