<nav class="navbar bg-success">
  <div class="container-fluid  justify-content-center align-items-center ">
    <span class="navbar-brand mb-0"><i class="fa-solid fa-cart-shopping text-white fa-2x"></i></i></span>
  </div>
</nav>