<div class="col-md-4 mb-4">
  <div class="card text-center justify-content-center align-items-center">
    <p class="card-text"><strong>{{MayusPrimera producto}}</strong></p>
    <img
      src="img/{{producto}}.png"
      class="card-img-top img-fluid"
      style="width: 8rem;"
    />
    <div class="card-body">
       <button class="btn btn-primary agregar-producto" id="{{producto}}"><i class="fa-solid fa-circle-plus"></i></button>
    </div>
    
  </div>
</div>
