<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado WEB</title>
    {{! FONTAWESOME }}
    <link rel="stylesheet" href="/fontawesome/css/all.min.css" />
    {{! BOOTSTRAP }}
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

  </head>
  <body class="">
    <div class="text-center justify-content-center align-items-center ">
  
          <form id="eleccion-productos">
            {{{body}}}
          </form>
    
    </div>
    <footer class="p-5 bg-success">

    </footer>

    <script src="/css_js/bootstrap.bundle.min.js"></script>
    {{! JQUERY }}
    <script src="/jquery/jquery.js"></script>
    {{! LOCAL }}
    <script src="js/control.js"></script>
  </body>
</html>