<div class="container">
  <div
    class="row justify-content-center align-items-center"
    style="height: 100vh;"
  >
    <div class="col-md-6 text-center">
      <h1 class="display-1">404</h1>
      <p class="lead">Oops! Page Not Found</p>
      <a href="/" class="btn btn-success btn-lg">Go to Home</a>
    </div>
  </div>
</div>